{{#each recipes as |recipe|}}

<div class="recipe-container">
  <h1>
    <small>Name:</small> {{limit recipe.name 15}}
  </h1>
  <section id="recipe-area" class="recipe" data-id="{{recipe.id}}">
      <small>Ingredients:</small>
    <ul>
      {{#if recipe.ingredients}}
        {{#each recipe.ingredients as |ingredient|}}
      <li>{{ingredient}}</li>
    {{/each}}
      {{else}}
        No ingredients provided.
      {{/if}}
    </ul>
      <small>Directions:</small>
    <ul>
      {{#if recipe.directions}}
        {{#each recipe.directions as |direction|}}
      <li>{{direction}}</li>
      {{/each}}
      {{else}}
        No directions provided.
      {{/if}}
    </ul>
    <p>
      <small>Id:</small>
      {{recipe.id}}
    </p>
  </section>
  <button id="recipe-delete" class="btn btn-danger" data-id="{{recipe.id}}">Delete</button>
</div>
{{/each}}
