{{#each recipes as |recipe|}}

  <section class="recipe" data-id="{{recipe.id}}">
    <h4>
      <small>Name:</small> {{limit recipe.name 15}}
    </h4>
      <small>Ingredients:</small>
    <ul>
      {{#if recipe.ingredients}}
        {{#each recipe.ingredients as |ingredient|}}
      <li>{{ingredient}}</li>
    {{/each}}
      {{else}}
        No ingredients provided.
      {{/if}}
    </ul>
      <small>Directions:</small>
    <ul>
      {{#if recipe.directions}}
        {{#each recipe.directions as |direction|}}
      <li>{{direction}}</li>
      {{/each}}
      {{else}}
        No directions provided.
      {{/if}}
    </ul>
    <p>
      <small>Id:</small>
      {{recipe.id}}
    </p>
    <button type="submit" class="btn btn-danger delete-recipe">Remove</button>
  </section>

{{/each}}
